@inject UserManager<IdentityUser> userManager;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hr />

<form method="post" asp-action="@ViewData["Title"]" class="register-form">
    <div>
        <div class="text-center">
            <h2 class="font-christmas">@ViewData["Title"] </h2>
            <img src="~/img/santa-avatar.jpg" class="rounded-circle img-centered" alt="Cinque Terre" />
        </div>
        @RenderBody()
    </div>
    <div class="form-group">
        <input type="submit" value="@ViewData["ButtonValue"]" class="btn neon" />
    </div>
</form>

@RenderSection("Scripts", required: false)