@model WhosYourSanta.Models.Lottery

@{
    ViewData["Title"] = "LotteryDetails";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}



<div class="santasList-bg">
    <div class="santasList">
        <h4>@Model.Name</h4>

        <table class="santaList-tbl">
            <thead>
                <tr>
                    <th class="col-width-m">Imię/Ksywa</th>
                    <th class="col-width-m">Email</th>
                    <th class="col-width-m">Losował?</th>
                    <th class="col-width-s"></th>
                    <th class="col-width-s"></th>

                </tr>
            </thead>
            <tbody>
                @foreach (Santa santa in Model.Santas)
                {
                    string wartosc = santa.DrawnSanta == null ? "Nie" : "Tak";
                    <tr>

                        <th>@santa.Name</th>
                        <th>@santa.Email</th>
                        <th>@wartosc</th>
                        <th><input id="editSantaBtn" type="button" /></th>
                        <th><input id="sendReminderBtn" type="button" /></th>
                    </tr>
                }

            </tbody>
        </table>




    </div>


</div>
<div>
   @* <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |*@
   @* <a asp-action="Index">Back to List</a>*@
</div>
